/* ボディ全体の背景を変更 */
body {
    background-color: #ffffff;
    color: #444;
}

/* h1タグのスタイル */
h1 {
    font-size: 36px;
    color: #0055cc;
}

/* 画像に枠を付ける */
img {
    border: 2px solid #000;
    max-width: 100%;  /* 画像の幅を親要素の最大幅に合わせる */
    height: auto;     /* 縦横比を維持して自動調整 */
}
