/* ボディ全体の背景を変更 */
body {
    background-color: #ffffff;
    color: #444;
}

/* h1タグのスタイル */
h1 {
    font-size: 36px;
    color: #0055cc;
}

/* 画像に枠を付ける */

img {
    width: 30px;  /* 幅を300ピクセルに指定 */
    height: auto;  /* 高さは自動調整して縦横比を維持 */
}
