/* ボディ全体の背景を変更 */
body {
    background-color: #ffffff !important;
    color: #444 !important;
}

/* h1タグのスタイル */
h1 {
    font-size: 36px;
    color: #005555;
}

/* 画像に枠を付ける */
img {
    width: 300px !important;
    height: auto !important;
    border-radius: 15px !important;
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.4) /* 薄い青色の影 */

 !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}

img:hover {
    transform: scale(1.05); /* ホバー時に拡大 */
    box-shadow: 0 4px 8px rgba(173, 216, 230, 0.4); /* 薄い青色の影 */
 /* 影を強く */
}
img {
    border: 2px solid #AFDFE4 !important;
}
