/* Gowun Batangのレギュラースタイル */
.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}

/* Gowun Batangのボールドスタイル */
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

/* h1のスタイルを定義 */
h1 {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-size: 48px;
    color: #AFDFE4;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* 画像コンテナのスタイル */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(173, 216, 230, 0.2);
    width: 200px;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* ホバー時にアニメーションを追加 */
}

img:hover {
    transform: scale(1.1); /* ホバー時に1.1倍に拡大 */
    box-shadow: 0 0 16px rgba(173, 216, 230, 0.3); /* 影を強調 */
}


/* メディアクエリでスマホ対応 */
@media screen and (max-width: 600px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        max-width: 300px;
    }
}

